DATABASE_URL="postgresql://postgres:password@localhost:5432/maindb"
AWS_ACCESS_KEY_ID=AWS_IAM_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=AWS_IAM_SECRET_KEY
AWS_BUCKET_NAME=s3_bucket_name
CLOUDFRONT_DOMAIN=cloudfront_기본엔드포인트
REDIS_HOST=AWS_ElastiCache_기본엔드포인트(포트번호제외할것)
NODE_ENV=개발환경에서는비워두고_cicd할때_github_actions_secrets에_production으로기입
